{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/resume.css' %}" />
  <style type="text/css">
    body {

    }
  </style>
</head>
<body>

  <div id="sp">

  </div>

  <div id="wrap">

    <div id="pic">

    </div>

    <div id="name">
      <p class="font_head" style="padding-top: 4px;padding-bottom: 4px;">許天柱</p>
      <p class="font_base" style="text-align: center;">应聘前端工程师</p>
    </div>

    <div id="introduction" class="card">
      <p class="font_header">个人简介</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">在校期间，学习了计算机科学与计算专业学生需要念的各门课程，四年平均绩点在中上水平，无须多说</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">从大二跟随老师学习开始，使用ubuntu系统，接触linux，并进行实际的开发工作</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">理解Html语义、表现与数据分离，并且身为一个强迫症患者，长期以来的编码过程中，严格遵照代码缩进</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">熟练掌握css，理解specificity和cascade规则，block box model，Inline Model，能够使用floating和positioning构造页面</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">经常访问css-tricks这类网站，喜欢在前端页面实现中用transform、key-frame animation制作各类控件、元素的动画效果</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">至于js这块，在不断地使用与学习，最常用到jQuery框架，熟悉ajax、RESTful请求，能独立通过已定义接口完成前后台交互</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">熟练使用Chrome 开发者工具，在Console、Source中对代码进行断点调试、找错</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">了解Less、Saas，并且近期都有在学习、使用Nodejs，并且关于手机端，有一定的iOS、Android开发经验</p>

    </div>

    <div id="experience" class="card">
      <p class="font_header">实习经历</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">2014年11月 - 2016年4月</p>
      <p class="font_base" style="padding-left: 48px;padding-top: 4px;padding-bottom: 4px;">期间一直跟随学校于老师学习，在linux平台上进行基于django框架对学校内外相关网站前端与后端开发、维护</p>

      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">2016年10月 - 2016年12月</p>
      <p class="font_base" style="padding-left: 48px;padding-top: 4px;padding-bottom: 4px;">在杭州拱墅优机菜圃，担任java程序员，编写三农邦配送系统子组件后台实现与前端页面，后因公司搬迁梦想小镇，部门散伙</p>

    </div>

    <div id="et" class="card">
      <p class="font_header">附加信息</p>
      <p class="font_base" style="padding-left: 32px;padding-top: 4px;padding-bottom: 4px;">github地址：https://github.com/igoist/</p>
    </div>

  </div>

</body>
</html>







